<div class="container card shadow rounded p-4 w-50 align-items-center">
  <h1>Add a Task</h1>
  <%= render 'form', restaurant: @restaurant %>
  <%= link_to tasks_path do %>
  <%= icon('fa', 'undo')%> Back to All Tasks
  <% end %>
</div>
