/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background: url('sky.jpg');
  background-size:auto;
  background-repeat:repeat-y;
}

.navbar { overflow:scroll; }

a {
  color: rgba(0,0,0,0.8);
}

a:hover {
  color: rgba(32,136,56,1)
}


.card-info {
  height:200px;
  overflow:scroll;
}

.sticky {
  height:200px;
  cursor:grabbing;
}

.sticky-info {
  overflow:scroll;
  height:140px !important;
}

.task-details {
  color: rgba(0,0,0,0.8);
}

.transparent-bg {
  background: rgba(255,255,255,0.6);
}


/* Tablets & Mobile Landscape */

@media (min-width: 481px) and (max-width: 767px) {

  .sticky h4 {font-size:18px;}

}

/* Mobiles: (Portrait) */

@media (min-width: 320px) and (max-width: 480px) {

  .navbar h1 {
    font-size:24px;
  }

  .card {
    width:85% !important;
  }

  .sticky {
    width:180px !important;

    h4 { font-size: 16px; }
  }

}
