/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background: rgb(29,99,49);
}

.container {
  background-color:white;
  margin-top:24px;
  padding:24px;
  border-radius:5px;
  box-shadow:0 1px 88px #000;
}

a {
  color: rgba(0,0,0,0.8);
}

a:hover {
  color: rgba(32,136,56,1)
}

.task-details {
  color: rgba(0,0,0,0.8);
}
